.Quote {
    width: 100%;
    margin: 10px 0;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: left;
}

.Quote-body{
    display: flex;
    justify-content: space-between;

}
.Quote-body span{
    width: 78%;
}
.Quote-body div{
    width: 20%;
}
